{{define "body"}}
    <!doctype html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    <p>Hi...</p>
    <p> You've received this email to reset your password</p>
    <p> Please visit the link below to continue. Please note the link will expire in 60 minutes</p>
    <a href="{{.Link}}">Reset Password</a>

    </body>

    </html>
{{end}}